html {
    background-image: url(./images/bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 20%;
    margin: 1em;
}

body {
    height: 100%;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    color: white; 
}

.title {
    color: white;
    font-size: 2em;
}

.title-body {
    font-size: .8em;
    margin: 0 0 1em 0;
}

.user-input {
    border: none;
    border-bottom: solid white 1px;
    padding: .3em;
    background: none;
    color: white; 
    font-size: 23px;
    font-family: 'Questrial', sans-serif;
}

.user-input::placeholder {
    color: white;
}

input:focus {
    border: none;
    box-shadow: none;
    outline-offset: 0px;
    outline: none;
}

.info-container {
    border: 1px solid rgb(249, 232, 232);
    padding: 2em;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: none;
}

.weather-data {
    padding: 3em;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
}

.place {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
}

.country-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
}

.name {
    font-size: 2.5em;
    margin: 0 .2em 0 0;
}

.country {
    font-size: 1em;
    margin-bottom: 0;
}

.main-info {
    display: flex;
}

.temp-info {
    text-align: center;
    width: 50%;
    padding-top: 1.3em;
}

.temperature {
    font-size: 2.5em;
    font-weight:900;
    margin-bottom: .5em;
}

.image {
    margin: 0;
    background-color: rgb(100, 169, 242);
    border-radius: 5px;
    width: 60px;
}

.weather-id {
    font-weight:900;
}

p {
    font-size: 1.2em;
}

.other {
    width: 50%;
    display: flex;
    flex-direction: column;
}


